<form name="COMPLAINT" id="COMPLAINT">
	<div ng-init="init(); getUsers(); toggleReadOnly('COMPLAINT')">
		<div ng show="alerts.length>0 || !$scope.COMPLAINT.$valid">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"
				close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
		<div>
			<h3 class="custom-page-header">CUSTOMER COMPLAINT</h3>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Customer Code</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customerComplaint.customerCode" disabled>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Customer Name</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customerComplaint.customerName" required="required"
					ng-pattern="/^[a-zA-Z-z&-. ]+$/i">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Contact No</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customerComplaint.contactNo" required="required"
					ng-click="resetAlert()"
					ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Email Id</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customerComplaint.emailId" required="required"
					ng-click="resetAlert()"
					ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/i">
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<h3 class="new-event-subtitle">Unit Details</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Unit Code</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customerComplaint.unit.unitCode" disabled>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Service Category</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customerComplaint.unit.serviceAgreement.serviceCategory" disabled>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Service Party</label>
			</div>
			<div class="col-sm-4">
				<select ng-model="customerComplaint.unit.serviceAgreement.serviceProvider.serviceProviderId"
					class="form-control"
					ng-options="item.serviceProviderId*1 as item.serviceProvider for item in serverModelData.SERVICE_PROVIDER"
					required>
				</select>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Unit Category</label>
			</div>
			<div class="col-sm-4">
				<select ng-model="customerComplaint.unit.unitCategory.unitCategoryId"
					class="form-control"
					ng-options="item.unitCategoryId*1 as item.unitType for item in serverModelData.UNIT_CATEGORY"
					required>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Asset No</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customerComplaint.unit.assetNo" required>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<h3 class="new-event-subtitle">ISSUE DESCRIPTION</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Issue</label>
			</div>

			<div class="col-sm-4">
				<select class="form-control"
					ng-model="customerComplaint.issue.issueId"
					ng-options="item.issueId*1 as item.value for item in serverModelData.ISSUE"
					required>
				</select>
			</div>

			<div class="col-sm-4">
				<input type="checkbox" id="chk_act" /> <label for="chk_act">Trouble
					Shooting Check List Done</label>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Priority</label>
			</div>
			<div class="col-sm-4">
				<select class="form-control" ng-model="customerComplaint.priority"
					required>
					<option></option>
					<option value="C">Critical</option>
					<option value="H">High</option>
					<option value="M">Medium</option>
					<option value="L">Low</option>
				</select>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">SLA DATE</label>
			</div>
			<div class="col-sm-4">
				<input type="text" class="form-control datepicker"
					name="requestDueDate" ng-model="customerComplaint.slaDateString"
					datepicker-popup="{{'MMM dd yyyy'}}" disabled>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Description</label>
			</div>

			<div class="col-sm-4">
				<textarea rows="3" cols="30" class="form-control"
					ng-model="customerComplaint.description" required></textarea>
			</div>
			<div ng-show="showStatus">
				<div class="col-sm-2">
					<label for="inputlg">Status</label>
				</div>
				<div class="col-sm-4">
					<label for="inputlg">{{customerComplaint.status}}</label>
				</div>

				<div class="row">
					<div class="col-sm-2">
						<h3 class="new-event-subtitle">ASSIGN TO</h3>
					</div>
					<div class="col-sm-3">
						<select class="form-control"
							ng-model="customerComplaint.complaintAssignment.user.userId"
							ng-options="item.userId*1 as item.firstName+' '+item.lastName  for item in users">
						</select>
					</div>

					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-2" ng-show="isEdit">
							<button type="button" class="btn btn-primary child-right" ng-disabled="isProcessing"
								ng-click="saveComplaintAssignment()">Assign</button>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div ng-show="!newComplaint">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="new-event-subtitle">COMPLAINT RESOLUTION</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label for="inputlg">Resolution</label>
				</div>

				<div class="col-sm-4">
					<select class="form-control"
						ng-model="customerComplaint.complaintResolution.resolution.resolutionId"
						ng-options="item.resolutionId*1 as item.value for item in serverModelData.RESOLUTION">
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<label for="inputlg">Description</label>
				</div>

				<div class="col-sm-4">
					<textarea rows="3" cols="30" class="form-control"
						ng-model="customerComplaint.complaintResolution.description"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4"></div>

				<div class="col-sm-2" ng-show="isEdit">
					<button type="button" class="btn btn-primary child-right" ng-disabled="isProcessing"
						ng-click="saveComplaintResolution()">Save Resolution</button>
				</div>
			</div>

		</div>
		<!-- 		<div class="row"> -->
		<!-- <div class="col-sm-12"> -->
		<!-- <h3 class="new-event-subtitle">Estimated Part</h3> -->
		<!-- </div> -->
		<!-- </div> -->

		<!-- <div class="row"> -->

		<!-- <div class="col-sm-2"> -->
		<!-- 			<input type="checkbox" class="form-control"/> -->
		<!-- 		</div> -->
		<!--  <div class="col-sm-2"> -->
		<!-- 			<label for="inputlg">Chiller</label> -->
		<!-- 		</div> -->

		<!-- <div class="col-sm-2"> -->
		<!-- 			<input type="checkbox" class="form-control"/> -->
		<!-- 		</div> -->

		<!-- 		<div class="col-sm-2"> -->
		<!-- 			<label for="inputlg">FCV</label> -->
		<!-- 		</div> -->
		<!-- 		</div> -->

		<!-- 		<div class="row"> -->

		<!-- <div class="col-sm-2"> -->
		<!-- 			<input type="checkbox" class="form-control"/> -->
		<!-- 		</div> -->

		<!--  <div class="col-sm-2"> -->
		<!-- 			<label for="inputlg">Bump</label> -->
		<!-- 		</div> -->
		<!-- <div class="col-sm-2"> -->
		<!-- 			<input type="checkbox" class="form-control"/> -->
		<!-- 		</div> -->

		<!-- 		<div class="col-sm-2"> -->
		<!-- 			<label for="inputlg">SAC</label> -->
		<!-- 		</div> -->
		<!-- 		</div> -->
		<!-- 		<div class="row"> -->

		<!-- <div class="col-sm-2"> -->
		<!-- 			<input type="checkbox" class="form-control"/> -->
		<!-- 		</div> -->
		<!--  <div class="col-sm-2"> -->
		<!-- 			<label for="inputlg">WIC</label> -->
		<!-- 		</div> -->

		<!-- <div class="col-sm-2"> -->
		<!-- 			<input type="checkbox" class="form-control"/> -->
		<!-- 		</div> -->

		<!-- 		<div class="col-sm-2"> -->
		<!-- 			<label for="inputlg">VRF</label> -->
		<!-- 		</div> -->

		<!-- 		</div> -->
		<!-- 		<div class="row"> -->

		<!-- 		<div class="col-sm-2"> -->
		<!-- 			<input type="checkbox" class="form-control"/> -->
		<!-- 		</div> -->
		<!--  <div class="col-sm-2"> -->
		<!-- 			<label for="inputlg">DF</label> -->
		<!-- 		</div> -->

		<!-- <div class="col-sm-2"> -->
		<!-- 			<input type="checkbox" class="form-control"/> -->
		<!-- 		</div>		 -->
		<!-- 		<div class="col-sm-2"> -->
		<!-- 			<label for="inputlg">Visi Cooler</label> -->
		<!-- 		</div> -->

		<!-- 		</div> -->
		<!-- 		</div> -->

		<div class="row">
			<div class="col-sm-9"></div>

			<div class="col-sm-2" ng-show="!isEdit">
				<button type="button" class="btn btn-primary"
					ng-click="toggleReadOnly('COMPLAINT')"
					ng-disabled="isCreateOrUpdatePrivileged()">Edit</button>
			</div>
			<div class="col-sm-1" ng-show="isEdit">
				<button type="button" class="btn btn-primary"
					ng-click="toggleReadOnly('COMPLAINT')">Cancel</button>
			</div>
			<div class="col-sm-2" ng-show="isEdit">
				<button type="button" class="btn btn-primary"
					ng-click="saveAndUpdateComplaint()"
					ng-disabled="isCreateOrUpdatePrivileged() || isProcessing">Create Complain</button>
			</div>

		</div>
	</div>

</form>