<section class="box ">

	<div class="content-body">

		<div class="row">

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">Customer Name</label>
					<div class="controls">
						<input class="form-control" type="text" ng-model="workOrder.customerName" disabled>
					</div>
				</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">Customer Unit</label>

					<div class="controls">
						<select class="form-control" disabled>
							<option>select 1</option>
							<option>select 2</option>
							<option>select 3</option>
						</select>

					</div>
				</div>
			</div>

		</div>


		<div class="row">

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">Unit Type</label>
					<div class="controls">
						<select class="form-control"
							ng-options="item.unitCategoryId*1 as item.unitType for item in serverModelData.UNIT_CATEGORY">
						</select>
					</div>
				</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">Location</label>

					<div class="controls">
						<input class="form-control" type="text" ng-model="workOrder.unit.address.city"/>
					</div>
				</div>
			</div>

		</div>


		<div class="row">

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">Contact Person</label>
					<div class="controls">
						<input class="form-control" type="text" />
					</div>
				</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">Address</label>

					<div class="controls">
						<input class="form-control" type="text" ng-model="workOrder.unit.address.address"/>
					</div>
				</div>
			</div>

		</div>


		<div class="row">

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">Mobile No</label>
					<div class="controls">
						<input class="form-control" type="text"
					ng-model="workOrder.contactNo" required="required"
					ng-click="resetAlert()"
					ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/"  />
					</div>
				</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">LandLine</label>

					<div class="controls">
						<input class="form-control" type="text" />
					</div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<label class="form-label" for="formfield9">Alternate Mobile
						No</label>
					<div class="controls">
						<input class="form-control" type="text" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
