<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!-- <meta charset="ISO-8859-1"> -->
<!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="../static/css/test.css" rel="stylesheet" type="text/css"> -->
<!-- <title>Insert title here</title> -->
<!-- </head> -->
<!-- <form> -->
<!-- <div> -->
<!-- </div> -->
<div ng-init="init()" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">CUSTOMER INFORMATION</h2>
                <div class="actions panel_actions pull-right">
                    <i class="fa fa-chevron-up" ng-class="{'fa-chevron-down':!isCollapsed}" ng-click="isCollapsed=!isCollapsed"></i>
                </div>
            </header>
            <div class="content-body">
            <div collapse="!isCollapsed">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">Customer Code</label>
                                <span class="desc">e.g. "abcd"</span>
                                <div class="controls">
                                    <input type="text" class="form-control" ng-model="customer.customerCode" disabled
									ng-click="resetAleart()">
                                </div>
                            </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                     <div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">Customer Name</label>
                                <span class="desc">e.g. "Rohit"</span>
                                <div class="controls">
                                    <input type="text" class="form-control"  required="required" ng-model="customer.customerName" 
                                    ng-pattern="/^[a-zA-Z-z&-. ]+$/i" ng-click="resetAleart()">
                                </div>
                            </div>
                    </div>
                </div>
                
                  <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">Contact No</label>
                                <span class="desc">e.g. "1234"</span>
                                <div class="controls">
                                	<i class="fa fa-times" ng-show="contactNoError"
									popover-placement="left" popover="Contact No. Already Exist"
									popover-trigger="mouseenter"></i>
                                    <input type="text" class="form-control"  required="required" 
                                    ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/"
									ng-model="customer.contactNo" type="text"
						            ng-blur="getContactNo()" ng-click="resetAleart()">
                                </div>
                            </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                     <div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">Email Id</label>
                                <span class="desc">e.g. "abc@xyz.com"</span>
                                <div class="controls">
                                <i class="fa fa-times" ng-show="emailError"
								popover-placement="left" popover="Email Id Already Exist"
								popover-trigger="mouseenter"></i>
								<input type="text" class="form-control"  ng-model="customer.emailId"
								required="required" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/i"
								type="email" ng-blur="getEmailId()" ng-click="resetAleart()">
                                </div>
                            </div>
                    </div>
                </div>
                
                 <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">Customer Type</label>
                                <span class="desc">"Select From Dropdown"</span>
                                <div class="controls">
                                <select ng-model="customer.customerType.customerTypeId"
								class="form-control" ng-options="item.customerTypeId*1 as item.customerType  for item in serverModelData.CUSTOMER_TYPE"
								required>
								</select>
                                </div>
                      </div>
                    </div>
                </div>
                </div>
                </div>
                </section>
                
        		<section class="box ">
            	<header class="panel_header">
                <h2 class="title pull-left">BILLING ADDRESS</h2>
                
                <div class="actions panel_actions pull-right">
                    <i class="fa fa-chevron-up" ng-class="{'fa-chevron-down':!isCollapsed}" ng-click="isCollapsed=!isCollapsed"></i>
                </div>
            	</header>
            <div class="content-body">
            <div collapse="!isCollapsed">     
                <div class="row">
                	<div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">Address</label>
                                <span class="desc">e.g. "Sector II Block C Ghaziabad"</span>
                                <div class="controls">
                                <input type="text" class="form-control" ng-model="customer.address.address" 
                                 required ng-click="resetAleart()">                                
                                </div>
                            </div>
                    </div>
					
					<div class="col-md-1">
                    </div>
                                    
                    <div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">Alt. Contact No</label>
                                <span class="desc">e.g. "1234"</span>
                                <div class="controls">
                                <input class="form-control" required="required"
								ng-pattern="/^[0-9--]+$/" ng-model="customer.address.contactNo"
						 		type="text" ng-click="resetAleart()">
                                </div>
                      </div>
                    </div>
                </div>
               
                
                <div class="row">
                	<div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">City</label>
                                <span class="desc">e.g. "Ghaziabad"</span>
                                <div class="controls">
                                <input class="form-control" ng-pattern="/^[a-zA-Z]+$/i"
								ng-model="customer.address.city" ng-click="resetAleart()"
						 		type="text" required>
						 		</div>
                        </div>
                    </div>
					
					<div class="col-md-1">
                    </div>
                                    
                    <div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">Pincode</label>
                                <span class="desc">e.g. "201001"</span>
                                <div class="controls">
                                <input class="form-control"
								ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}$/"
								required="required" ng-model="customer.address.pincode"
								type="text" ng-click="resetAleart()">
                                </div>
                      </div>
                    </div>
                </div>
                
                <div class="row">
                	<div class="col-md-5 col-sm-12 col-xs-12">
                       <div class="form-group">
                                <label class="form-label" for="formfield9">State</label>
                                <span class="desc">e.g. "Uttar Pradesh"</span>
                                <div class="controls">
                                <select ng-model="customer.address.state.stateId"
								class="form-control"
								ng-options="item.stateId*1 as item.stateName  for item in serverModelData.STATE"
								required>
								</select>
								</div>
                        </div>
                    </div>
				</div>
                
                
                
                

            </div>    
            </div>
        </section>
    </div>

</form>
</html>