<div class="baseFee-popUp" ng-init="amenity={discountHead:{}}">
<table>
<tr>
<td><span class="header">Add Amenities</span></td></tr>
<tr>
    <td><select ng-model="amenity.discountHead.headId" class="form-control"
	ng-options="item.feeDiscountHead.headId*1 as item.feeDiscountHead.head  for item in serverModelData.dropdownMasterData.AMENITIES"
	ng-change="updateAmenityCharges(amenity)"></select>
	</td>	
<td><input type="text" class="form-control"  ng-model="amenity.amount">
  <span class="input-group-addon">.00</span></td>
</tr>
<tr><td><button type="button" class="btn btn-primary btn-xs"ng-click="saveAmenity(amenity)">Add Amenity</button></td></tr>
</table>
</div>
