		<div class="enquiry-detail-div">
			
			<table>
			<tr><td colspan=2><span class="header">Student Info.</span></td></tr>
				<tr>
					<th>Registration No</th>
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.registrationNo"></span></td>
					<th>Enrollment No</th>
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.enrollmentNo"></span></td>
				</tr>
				<tr>
					<th>First Name</th>
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.firstName"></span></td>
					<th>Last Name</th>					
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.lastName"></span></td>

				</tr>
				<tr>
					<th>Father Name</th>	
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.fatherName"></span></td>
					<th>Date Of Birth</th>					
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.dob"></span></td>
				</tr>
				<tr>
					<th>Course</th>	
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.course.course"></span></td>
					<th>Branch</th>	
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.branch.branchName"></span></td>
				</tr>
                  <tr>
					<th>Category</th>	
					<td><span
						ng-bind="admissionDetailManagement.basicInfo.casteCategory.categoryName"></span></td>
		              </tr>
			<tr><td colspan=4><hr><td></tr>

	<tr><td><span class="header">Scholarship Detail</span></td>
	</tr>
	<tr>
	<th>Domicile State</th>
	<td><select ng-model="admissionDetailManagement.scholarship.stateId" class="form-control" class="form-control" ng-options= "item.id*1 as item.value for item in serverModelData.dropdownMasterData.STATE" ></td>
	<th>Amount</th>
	<td><input type="text" class="form-control" 
				ng-model="admissionDetailManagement.scholarship.amount">
  <span class="input-group-addon">.00</span></td>
	</tr>
	<tr>
<th>Family Income</th>
	<td><input type="number" ng-model="admissionDetailManagement.scholarship.parentIncome"></td>
<th>Remarks</th>
	<td><textArea rows="3" cols="33"  ng-model="admissionDetailManagement.scholarship.remark"></textArea></td>
	</tr>
	<tr>
<td colspan=3>
	<button type="button" class="btn btn-primary" ng-class="{'btn-success':admissionDetailManagement.scholarship.approved}" ng-model="admissionDetailManagement.scholarship.approved" ng-click="admissionDetailManagement.scholarship.approved= !admissionDetailManagement.scholarship.approved">Approve</button>
	<button type="button" class="btn btn-primary" ng-class="{'btn-success':admissionDetailManagement.scholarship.reoccurring}" ng-model="admissionDetailManagement.scholarship.reoccurring" ng-click="admissionDetailManagement.scholarship.reoccurring= !admissionDetailManagement.scholarship.reoccurring">Reoccuring</button>
	<button type="button" class="btn btn-primary" ng-class="{'btn-success':admissionDetailManagement.scholarship.conditional}" ng-model="admissionDetailManagement.scholarship.conditional" ng-click="admissionDetailManagement.scholarship.conditional= !admissionDetailManagement.scholarship.conditional">Conditional</button></td>	

</tr>
<tr><td colspan=4><hr><td></tr>
	<tr>
	<td><span class="header">Proposed Discounts</span></td>
<td><button type="button" class="btn btn-primary"ng-click="addNewDiscount()">Add New Discount</button></td>
	</tr>			
	<tr ng-repeat="object in admissionDetailManagement.stagingFee|filter:transactonType('W')">
    <td><select ng-model="object.discountHead.headId" class="form-control"
	ng-options="item.id*1 as item.value  for item in serverModelData.dropdownMasterData.FEEHEAD|filter:{parentId:'W'}"></select>
	</td>	
<td><input type="text" class="form-control" 
				ng-model="object.amount">
  <span class="input-group-addon">.00</span></td>
	<td colspan=2>
	<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':object.approved}" ng-click="object.approved= !object.approved">Approve</button>
	<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':object.reoccuring}" ng-click="object.reoccuring= !object.isReoccuring">Reoccuring</button>
	<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':object.conditional}" ng-click="object.conditional= !object.isConditional">Conditional</button></td>
	<td><a class='expandable'
							ng-click="admissionDetailManagement.stagingFee.splice($index, 1)"> <i
							class='glyphicon glyphicon glyphicon-remove collapsed-element'></i>
						    </a></td></</tr>

<tr><td colspan=4><hr><td></tr>
  <tr>
	<td colspan="4"><span class="header">Instruction By Management</span></td>
  </tr>

<tr>
	<td><textArea rows="4" cols="33" ng-model="admissionDetailManagement.basicInfo.remark.managementRemark"></textArea></td>
</tr>



<td><button type="button" class="btn btn-primary btn-lg"
								ng-click="form.content='dashboard'">Back to DashBoard</button></td>
						<td><button type="button" class="btn btn-success btn-lg"
								ng-click="updateAdmissionDetailManagement()">Save & Approve</button></td>

<td><button type="button" class="btn btn-primary"
						ng-click="showBaseFee('lg')">Current Charges</button></td></tr>
	
		
			</table>
		</div>
