<div ng-controller="managementController" ng-init="getUnapprovedRecords()">
     	<div class="panel-div">
				<span >Fee Management & Approval</span> 
			</div>
	<div class="side-live-bar">
	<table>
	<tr><td><span class="header">Pending Fee Students </span></td></tr>
	</table>
	</div>
<div>
<button type="button" ng-click="content='dashboard'">Dashboard</button>
<button type="button" ng-click="content='feeManagement'">Fee Management</button>
<button type="button" ng-click="content='managementApproval'">Management View</button>
</div>
<div class="module-dashboard-content">
<div ng-include src="'feeDashboard.html'" ng-if="content=='dashboard'">
</div>
<div ng-include src="'managementPendingfeeApproval.html'" ng-if="content=='managementApproval'">
</div>
<div ng-include src="'feeAdministration.html'" ng-if="content=='feeManagement'">
</div>
	
	<script type="text/ng-template" id="feeDashboard.html">
	<div>
	<div class="searchcriteria">
	<table>
<tr><td colspan=2><span class="header">Search Student</span></td></tr>
		<tr>
			<td><span>Name</span></td>
			<td><input type="text" ng-model="searchCriteria.name"></td>
		</tr>
		<tr>
			<td><span>Course</span></td>
			<td><select ng-model="searchCriteria.courseId"
				ng-options="item.id*1 as item.value  for item in serverModelData.dropdownMasterData.COURSE"></td>
		</tr>
		<tr>
			<td><span>Branch</span></td>
			<td><select ng-model="searchCriteria.branchId"
				ng-options="item.id*1 as item.value  for item in serverModelData.dropdownMasterData.BRANCH|filter: {parentId: searchCriteria.courseId}"></td>
		</tr>
		<tr>
			<td><span>Email Id</span></td>
			<td><input type="text" ng-model="searchCriteria.emailId"></td>
		</tr>
		<tr>
			<td><span>Mobile No</span></td>
			<td><input type="text" ng-model="searchCriteria.mobileNo"></td>
		</tr>
		<tr>
			<td><button type="button" class="btn btn-success"
					ng-click="getEnquiryBySearchCriteria()">Search</button></td>
		</tr>
	</table>
</div>
	<div class="searchList">
<table>
<tr>
	<td colspan="2" ng-show="searchEnquiryList.length>0"><span
		class="header">SEARCH RESULT</span></td>
</tr>
<tr><td colspan=2>
<button type="button" class="btn btn-primary btn-lg"
					ng-click="searchEnquiryList=[];showCriteria=!showCriteria">New Search</button>
</td></tr>
<tr ng-show="searchEnquiryList.length>0">
	<th><span>Name</span></th>
	<th><span>Father Name</span></th>
	<th><span>DOB</span></th>
	<th><span>Course</span></th>
	<th><span>Branch</span></th>
</tr>
<tr ng-repeat="object in filteredSearch"
	ng-click="getEnquiry(object.enquiryId)">
	<td><span>{{object.name}}</span></td>
	<td><span>{{object.fatherName}}</span></td>
	<td><span>{{object.dob}}</span></td>
	<td><select select ng-model="object.courseId"
		ng-options="item.id*1 as item.value  for item in serverModelData.dropdownMasterData.COURSE"></select></td>
	<td><select select ng-model="object.branchId"
		ng-options="item.id*1 as item.value  for item in serverModelData.dropdownMasterData.BRANCH|filter: {parentId: student.courseId}"></select></td>
</tr>
</table>

<pagination ng-show="searchEnquiryList.length>0" total-items="totalItems" items-per-page="itemsPerPage" 
ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
</div>
</script>
	
	
	<script type="text/ng-template" id="managementPendingfeeApproval.html">
       	<div class="panel-div">
				<span ng-if="!admissionDetailManagement.basicInfo.fileNo">Management Approval</span> <span
					ng-if="admissionDetailManagement.basicInfo.fileNo">{{admissionDetailManagement.basicInfo.firstName}}
					{{admissionDetailManagement.basicInfo.lastName}} ({{admissionDetailManagement.basicInfo.fileNo}})</span>
			</div>
		<div>
			
			<table>
			<tr><td colspan=2><span class="header">Student Info.</span></td></tr>
				<tr>
					<td>File No<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.fileNo"></td>
					<td>Enrollment No<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.enrollmentNo"></td>
				</tr>
				<tr>
					<td>First Name<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.firstName"></td>
					<td>Last Name<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.lastName"></td>

				</tr>
				<tr>
					<td>Father Name<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.fatherName"></td>
					<td>Date Of Birth<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.dob"></td>
				</tr>
				<tr>
					<td>Course<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.course"></td>
					<td>Branch<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.branch"></td>
				</tr>
				<tr><td><input type="submit"
						ng-click="getFileNoandFetchDetails(admissionDetailManagement.basicInfo.fileNo)"></td></tr>
			<tr><td colspan=4><hr><td></tr>
	
	<tr><td><span class="header">Scholarship Detail</span></td>
	</tr>
	<tr>
	<td>Domicile State<p><select ng-model="admissionDetailManagement.scholarship.stateId" ng-option=""></td>
	<td>Scholarship Amount<p><input type="text" ng-model="admissionDetailManagement.scholarship.amount" ng-option=""></td>
	</tr>
	<tr>
	<td>Reoccuring<p><input type="checkbox" ng-model="admissionDetailManagement.scholarship.reoccurring"></td>
	<td>Remarks<p><textArea ng-model="admissionDetailManagement.scholarship.remark" ng-option=""></textArea></td>
	</tr>
	<tr>
	<td><span class="header">Fee Staging Detail</span></td>
	</tr>			
	<tr ng-repeat="object in admissionDetailManagement.stagingFee">
	<td>Fee Head<p><input type="text" ng-model="object.discountHead.head"></td>
	<td>Fee Amount<p><input type="text" ng-model="object.amount"></td>
	<td>Fee Generated<p><input type="checkbox" ng-model="object.feeGenerated"></td>
	<td>Approved<p><input type="checkbox" ng-model="object.approved"></td>
	</tr>
	<tr><td><input type="button" value="Update Record"
						ng-click="updateAdmissionDetailManagement()"></td></tr>
	
		
			</table>
		</div>
    </script>
    <script type="text/ng-template" id="feeAdministration.html">
	<div>
	
	<table>
	<tr><td colspan=2><span class="header">Student Info.</span></td></tr>
		<tr>
			<td><span> File No </span></td>
			<td><input type="text"
				ng-model="feeTransactionAdmissionBean.basicInfo.fileNo"></td>
			<td><span> Enrollment No </span></td>
			<td><input type="text"
				ng-model="feeTransactionAdmissionBean.basicInfo.enrollmentNo"></td>
		</tr>
		<tr>
			<td> First Name</td>
			<td><input type="text"
				ng-model="feeTransactionAdmissionBean.basicInfo.firstName"></td>
			<td><span> Last Name </span></td>
			<td><input type="text"
				ng-model="feeTransactionAdmissionBean.basicInfo.lastName"></td>

		</tr>
		<tr>
			<td><span> Father Name </span></td>
			<td><input type="text"
				ng-model="feeTransactionAdmissionBean.basicInfo.fatherName"></td>
			<td><span> Date Of Birth </span></td>
			<td><input type="text"
				ng-model="feeTransactionAdmissionBean.basicInfo.dob"></td>
		</tr>
		<tr>
			<td><span> Course </span></td>
			<td><input type="text"
				ng-model="feeTransactionAdmissionBean.basicInfo.course"></td>
			<td><span> Branch </span></td>
			<td><input type="text"
				ng-model="feeTransactionAdmissionBean.basicInfo.branch"></td>
		</tr>
		<tr><td><input type="submit"
				ng-click="getFeeTransactionAndBasicInfoDetail(feeTransactionAdmissionBean.basicInfo.fileNo)"></td></tr>
	<tr><td colspan=4><hr><td></tr>

<tr><td colspan=2><span class="header">Fees</span></td>
<td colspan=2><span class="header">Discounts and Deposites</span></td>
</tr>
<div collapse="collapse">
		<tr	ng-repeat="i in getMaxListLengthArray() track by $index">
			<td><span ng-bind="feeTransactionAdmissionBean.feeTransactionDebit[i].feeDiscountHead.head" ng-if="i<feeTransactionAdmissionBean.feeTransactionDebit.length"></span></td>
			<td><input type="text" ng-model="feeTransactionAdmissionBean.feeTransactionDebit[i].amount"
				 ng-if="i<feeTransactionAdmissionBean.feeTransactionDebit.length"></td>
				<td><span ng-bind="feeTransactionAdmissionBean.feeTransactionCredit[i].feeDiscountHead.head" ng-if="i<feeTransactionAdmissionBean.feeTransactionCredit.length"></span></td>
			<td><input type="text" ng-model="feeTransactionAdmissionBean.feeTransactionCredit[i].amount"
				 ng-if="i<feeTransactionAdmissionBean.feeTransactionCredit.length"></td>
		</tr>
		<tr><th>Total Debit</th><td>{{totalDebit()}}</td>
		<th>Total Credit</th><td>{{totalCredit()}}</td>
		</tr>
		<tr>
		<td colspan=2></td>
		<th>Previous Balance</th>
		<td>{{feeTransactionAdmissionBean.amountDiffrence}}</td>
		</tr>
			<tr>
		<td colspan=2></td>
		<th>Balance Amount</th>
		<td>{{feeTransactionAdmissionBean.amountDiffrence+totalDebit()-totalCredit()}}</td>
		</tr>
		</div>
		<tr><td colspan=4><hr></td></tr>
		<tr><td colspan=2><span class="header">Deposit Fee</span>  </td></tr>
		<tr><td colspan=2>Mode<p><select class="two-column-input" ng-model=newTransaction.feeDiscountHead.headId
				ng-options="item.id as item.value for item in transactionTypes"></select></td>
			<td colspan=2>Amount<p><input type="number" class="two-column-input" ng-model="newTransaction.amount" /></select></td>
		</tr>
		
		<tr><td colspan=2>Remark<p><textarea rows="2" cols="40" ng-model="newTransaction.remark"></textarea></td>
		<td colspan=2><button type="button" class="btn btn-success btn-lg"  ng-click="depositeFee()">Deposite</button></td></tr>
	     <td><input type="button" value="pending fee button" ng-click="getPendingFee()"/></td>
	</table>
</div>
    </script>

</div>