			<div>
				<table>
						<tr>
							<td><span> Name </span>
							<td><input type="text" class="form-control" 
				ng-model="consultant.name" required>
  <span class="input-group-addon">.00</span></td>
						</tr>
						<tr>
							<td><span> Primary Phone Number </span></td>
							<td><input type="text" class="form-control" 
				ng-model="consultant.primaryContactNo" required>
  <span class="input-group-addon">.00</span></td>
						</tr>
						<tr>
							<td><span> Secondary Phone Number </span></td>
							<td><input type="text" class="form-control" 
				ng-model="consultant.secondaryContactNo">
  <span class="input-group-addon">.00</span></td>
						</tr>
						<tr>
							<td><span> Email ID </span></td>
							<td><input type="text" class="form-control" 
				ng-model="consultant.emailId">
  <span class="input-group-addon">.00</span></td>
						</tr>
						<tr>
							<td><span> Address </span></td>
							<td><textarea type="text" ng-model="consultant.address"></textarea></td>
						</tr>
						<tr>
							<td>
								<button type="button" class="btn btn-primary"
									ng-click="saveConsultant()">Add Consultant</button>
							</td>
							<td>
								<button type="button" class="btn btn-danger"
									ng-click="resetForm()">Reset</button>
							</td>
                             <td><button type="button" class="btn btn-success"
							ng-click="form.content='dashboard'">Back To Dashboard</button></td>
						</tr>
					</table>
			</div>
