<div ng-controller="transportController" ng-init="getAvailableTransport()">
<div ng-init="getTransportAllocationDtlForStudent()"></div>


<div ng-include src="'transportAllocation.html'" ng-if="form.content==='dashboard'">
</div>

<script type="text/ng-template" id="transportReservation.html">

   <div class="modal-content" ng-init="getReservedTransport()">  
      <div class="inventory-view">
      
     <div id="transport" class="panel-div-modal">Available Transports Detail</div>
      <table>
      <tr> 
           <td><span>Route Code</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.routeCode}}</td>     
       </tr>

      <tr> 
           <td><span>Description</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.description}}</td>     
       </tr>


        <tr> 
           <td><span>Threshold</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.threshold}}</td>     
       </tr>
       <tr> 
           <td><span>Reserved</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.reserved}}</td>     
       </tr>
       <tr> 
           <td><span>Available</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.available}}</td>     
       </tr>
       <tr> 
           <td><span>Price</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.price}}</td>     
       </tr>
       
        <tr>
       <td>
       </td>
       </tr>
       <tr>
       <td>
       <select ng-model="transportReservation.routeCode"
		ng-options="object.routeCode as object.description for object in availableTransport"></select>
       </td>
        <td>
       <input type="button" class="button" value="Reserve" ng-click="saveTransport()"/>
       </td>
        <td>
       <input type="button" class="button" value="Release" ng-click="cancelReservation()"/>
       </td>
       </tr>
             
      </table> 
   
    </div>

<div ng-show="currentReservation.fileNo" class="six-column-view">
<table>
<tr>
<div class="panel-div-modal">Current Reservation Status</div>
</tr>
<tr>
<td><strong>Route Code</strong></td>
<td><span>{{currentReservation.routeCode}}</span></td>

<td><strong>Description</strong></td>
<td><span>{{currentReservation.description}}</span></td>

<td><strong>Price</strong></td>
<td><span>{{currentReservation.price}}</span></td>
</tr>
</table>
</div>
   </div>

</script>

<script type="text/ng-template" id="transportAllocation.html">

          <form>
				<div class="enquiry-detail-div">
					<table>
                <tr><td colspan=2><span class="header">Student Info.</span></td></tr>
		<tr>
			<td><span> Registration No </span></td>
			<td><input type="text"
				ng-model="transportAllocationAdmissionDtl.basicInfo.registrationNo"></td>
			<td><span> Enrollment No </span></td>
			<td><input type="text"
				ng-model="transportAllocationAdmissionDtl.basicInfo.enrollmentNo"></td>
		</tr>
		<tr>
			<td><span> First Name </span></td>
			<td><input type="text"
				ng-model="transportAllocationAdmissionDtl.basicInfo.firstName"></td>
			<td><span> Last Name </span></td>
			<td><input type="text"
				ng-model="transportAllocationAdmissionDtl.basicInfo.lastName"></td>

		</tr>
		<tr>
			<td><span> Father Name </span></td>
			<td><input type="text"
				ng-model="transportAllocationAdmissionDtl.basicInfo.fatherName"></td>
			<td><span> Date Of Birth </span></td>
			<td><input type="text"
				ng-model="transportAllocationAdmissionDtl.basicInfo.dob"></td>
		</tr>
		<tr>
			<td><span> Course </span></td>
			<td><input type="text"
				ng-model="transportAllocationAdmissionDtl.basicInfo.course.course"></td>
			<td><span> Branch </span></td>
			<td><input type="text"
				ng-model="transportAllocationAdmissionDtl.basicInfo.branch.branchName"></td>
		</tr>
		
         <tr><td colspan=2><span class="header">Transport Allocation Detail</span></td></tr>      
        
         <tr>
		
         	<td><span>Wing</span></td>
            <td><input type="text" ng-model="hostelAllocationAdmissionDtl.hostelAllocation.wing" /></td>
			<td><span> Block </span></td>
			<td><input type="text" ng-model="hostelAllocationAdmissionDtl.hostelAllocation.block"/></td>
		</tr>
           <tr>
		
         	<td><span>Floor</span></td>
            <td><input type="text" ng-model="hostelAllocationAdmissionDtl.hostelAllocation.floor" /></td>
			<td><span> Room No </span></td>
			<td><input type="text" ng-model="hostelAllocationAdmissionDtl.hostelAllocation.roomNo"/></td>
		</tr>
		
		<tr><td><button type="button" class="btn btn-success"
							ng-click="addConsultantAdmissionDetail()">Add</button></td>
<td><button type="button" class="btn btn-success"
							ng-click="getTransportlAllocationAdmissionDetail()">Get</button></td>
</tr>

				</table>
				</div>
			</form>


            </script>   


</div>

