<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http use-expressions="true" entry-point-ref="loginUrlAuthenticationEntryPoint">
	<csrf disabled="true"/>
      <intercept-url pattern="/service/**" access="isAuthenticated()"/>
	 <intercept-url pattern="/home/**" access="isAuthenticated()" />
      <form-login 
      login-page="/index.html"
      username-parameter="j_username" 
      password-parameter="j_password" 
      login-processing-url="/j_spring_security_check"
      authentication-failure-handler-ref="customAuthenticationFailureHandler"
      default-target-url="/home/index.html"
       />
	<logout 
	logout-url="/logout"
	logout-success-url="/index.html" />
   </http>
   
<!--    <sec:session-management invalid-session-url="/login"> -->
<!--         <sec:concurrency-control expired-url="/login" /> -->
<!-- </sec:session-management> -->

   <authentication-manager>
      <security:authentication-provider ref="authenticationProvider"/>
   </authentication-manager>
   
   <beans:bean id="customAuthenticationFailureHandler"
              class="com.techvisio.eserve.security.CustomAuthenticationFailureHandler">
              <beans:property name="defaultFailureUrl" value="/index.html?code=failed" />
    </beans:bean>
   
   <beans:bean id="restAuthenticationEntryPoint" class="com.techvisio.eserve.security.RestAuthenticationEntryPoint">
    </beans:bean> 
  
    <beans:bean id="restAuthenticationSuccessHandler" class="com.techvisio.eserve.security.RestAuthenticationSuccessHandler">
    </beans:bean> 
    
    <beans:bean id="restAuthenticationFailureHandler" class="com.techvisio.eserve.security.RestAuthenticationFailureHandler">
    </beans:bean> 
    
    <beans:bean id="authenticationProvider" class="com.techvisio.eserve.manager.AuthenticationManager">
    </beans:bean> 
    
    <beans:bean id="loginUrlAuthenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg value="/index.html"/>
	</beans:bean>
</beans:beans>