<div class="modal-header" ng-if="_errorCode != 403">
    <button type="button" class="close" ng-click="closeErrorModal()"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h3 class="modal-title" ng-bind="_errorTitle"></h3>
</div>
<div class="modal-body">
    <span ng-bind-html="_errorMessage"></span>
    <p ng-if="_errorCode != 403"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-xs" ng-if ng-click="closeErrorModal('back')">Go Back</button>
    <button class="btn btn-primary btn-xs" ng-click="closeErrorModal()">Close</button>
</div>