<form>
	<div>
		<table>
			<tr>
				<td><span>Old Password </span></td>
				<td><input type="text" class="form-control"
					ng-model="user.name">
				</td></tr>
				<tr><td><span>New Password </span></td>
				<td><input type="text" class="form-control"
					ng-model="user.password">
			</tr>

			<tr>
				<td><span> Confirm New Password </span></td>
				<td><input type="text" class="form-control">
			</tr>
			
			<tr>
			<td></td>
			<td><button type="button" class="btn btn-primary" ng-click="addUser()">Save</button></td></tr>
		</table>
	</div>
</form>