
<div class="wrapper">
	<div ng-init="init()">
		<div>
			<h3 class="page-header jumbotron">MANDAORY PASSWORD CHANGE</h3>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<label for="inputlg">Old Password</label>
			</div>
			<div class="col-sm-6">
				<input class="form-control input-sm" ng-model="user.password"
					id="inputlg" type="password">
			</div>
			<div class="col-sm-2"><img height="30" width="30" ng-src="../static/images/redwarning.png" ng-show="!oldConfirmed" title="Password Not Matched"/></div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<label for="inputlg">New Password</label>
			</div>
			<div class="col-sm-6">
				<input class="form-control input-sm" ng-model="user.newPassword"
					id="inputlg" type="password">
			</div>
			<div class="col-sm-2"><img height="30" width="30" ng-src="../static/images/redwarning.png" ng-show="wrongNewPass" title="Choose Diffrent Password ! This Is Same As Old One" /></div>
			<div class="col-sm-2"><img height="30" width="30" ng-src="../static/images/redwarning.png" ng-show="newPassMust" title="You have to create a new password!!" /></div>
		</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<label for="inputlg">Confirm New Password</label>
			</div>
			<div class="col-sm-6">
				<input class="form-control input-sm" ng-model="confirmPassword" onSelect="!wrongConfirmPass" id="inputlg" type="password" >
			</div>
			<div class="col-sm-2"><img height="30" width="30" ng-src="../static/images/redwarning.png" ng-show="wrongConfirmPass" title="Password Not Matched"/></div>
		</div>

		<div class="row" ng-show="!customQuestion">
			<div class="col-sm-3">
				<label for="inputlg">Security Question</label>
			</div>
			<div class="col-sm-6">
				<select ng-model="user.securityQuestion.question" class="form-control"
					ng-options="item.question as item.question  for item in serverModelData.QUESTION">
				</select>
			</div>
			<div class="col-sm-3">
			<label>
            <input type="checkbox" ng-model="chkStatus" ng-change="showCustom()"/>
            Custom Question
        </label>
			</div>
		</div>

		<div class="row" ng-show="customQuestion">
			<div class="col-sm-3">
				<label for="inputlg">Security Question</label>
			</div>
			<div class="col-sm-6">
				<input class="form-control input-sm"
					ng-model="user.securityQuestion.question" id="inputlg" type="text">
			</div>
			<div class="col-sm-3">
			<label>
            <input type="checkbox" ng-model="chkStatus" ng-change="showCustom()" />
            Custom Question
        </label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<label for="inputlg">Answer</label>
			</div>
			<div class="col-sm-6">
				<input class="form-control input-sm"
					ng-model="user.securityQuestion.answer" id="inputlg" type="text">
			</div>
		</div>


		<div class="row">
			<div class="col-sm-10"></div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-primary"
					ng-click="saveQuestion()">Save</button>
			</div>
		</div>

	</div>
</div>