<tabset> <tab active=""> <tab-heading>Customer</tab-heading>
<div ng-init = "init()">
	<div>
		<h3 class="page-header jumbotron">CUSTOMER INFORMATION</h3>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Customer Id</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" ng-model="customer.customerId"
					id="inputlg" type="text">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Customer Name</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm"
					ng-model="customer.customerName" id="inputlg" type="text">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Contact No</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" ng-model="customer.contactNo"
					id="inputlg" type="text">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Email Id</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" ng-model="customer.emailId"
					id="inputlg" type="text">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="radiogroup">Customer Type</label>
			</div>
			<div class="col-sm-2">
				<li><input type="radio" name="customerType"
					ng-model="customer.customerType" value='NAD' />NAD</li>
			</div>
			<div class="col-sm-2">
				<li><input type="radio" name="customerType"
					ng-model="customer.customerType" value='VIP' />VIP</li>
			</div>
			<div class="col-sm-2">
				<li><input type="radio" name="customerType"
					ng-model="customer.customerType" value='COR' />Corporate</li>
			</div>
			<div class="col-sm-2">
				<li><input type="radio" name="customerType"
					ng-model="customer.customerType" value='IND' />Individual</li>
			</div>
		</div>
		<!-- </div> -->

		<!-- <div> -->
		<!--   <h3>Billing Address</h3> -->
		<!-- </div> -->
		<!-- <div class="jumbotron"> -->
		<div class="row">
			<div class="col-sm-12">
				<h3 class="new-event-subtitle">BILLING ADDRESS</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Title</label>
			</div>
			<div class="col-sm-4">
				<select class="form-control">
					<option></option>
					<option>Mr</option>
					<option>Mrs</option>
					<option>Ms</option>
				</select>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">First Name</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" ng-model="customer.customerId"
					id="inputlg" type="text">
			</div>

		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Last Name</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" ng-model="customer.customerId"
					id="inputlg" type="text">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Email</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" ng-model="customer.customerId"
					id="inputlg" type="text">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Address 1</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm"
					ng-model="customer.address.address1" id="inputlg" type="text">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Address 2</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm"
					ng-model="customer.address.address2" id="inputlg" type="text">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Telephone No</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm"
					ng-model="customer.address.telephone" id="inputlg" type="text">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Mobile No</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm"
					ng-model="customer.address.mobile" id="inputlg" type="text">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">City</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm"
					ng-model="customer.address.city" id="inputlg" type="text">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Pincode</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm"
					ng-model="customer.address.pincode" id="inputlg" type="text">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">State</label>
			</div>
			<div class="col-sm-4">
				<select ng-model="customer.address.state.stateId"
						class="form-control" ng-options="item.stateId*1 as item.stateName  for item in serverModelData.STATE">
					</select>
			</div>
		</div>
	</div>

	<div class="row">
			<div class="col-sm-6">
				<h3 class="page-header jumbotron">UNIT DETAILS</h3>
			</div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-info btn-sm" ng-click="addUnit()">Add
					Unit</button>
			</div>
		</div>
		
	<div ng-repeat="unit in customer.units">
	
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Service Category</label>
			</div>
			<div class="col-sm-4">
				<select class="form-control" ng-model="unit.serviceCategory">
					<option></option>
					<option>Warranty</option>
					<option>AMC</option>
					<option>Paid</option>
				</select>
			</div>
			<div class="col-sm-2">
				<label for="inputlg">Service Party</label>
			</div>
			<div class="col-sm-4">
				<select class="form-control" ng-model="unit.serviceParty">
					<option></option>
					<option>ANS</option>
					<option>BLS</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Unit Category</label>
			</div>
			<div class="col-sm-4">
				<select class="form-control" ng-model="unit.unitCategory">
					<option></option>
					<option>Icecream</option>
					<option>Blood</option>
					<option>Medicine</option>
				</select>
			</div>
			<div class="col-sm-2">
				<label for="inputlg">External Id</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="unit.externalId">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Unit Size</label>
			</div>
			<div class="col-sm-2">
				<select class="form-control">
					<option></option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control">
					<option></option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control">
					<option></option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<h3 class="new-event-subtitle">Site Address Details</h3>
			</div>
			<div class="col-sm-1">
				<input type="checkbox" />
			</div>
			<div class="col-sm-4">
				<label id="sameAsAbove">Same As Billing Address</label>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Title</label>
			</div>
			<div class="col-sm-4">
				<select class="form-control">
					<option></option>
					<option>Mr</option>
					<option>Mrs</option>
					<option>Ms</option>
				</select>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">First Name</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customer.customerId">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Last Name</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customer.customerId">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Email</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="customer.customerId">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Address 1</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="unit.address.address1">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Address 2</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="unit.address.address2">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Telephone No</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="unit.address.telephone">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Mobile No</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="unit.address.mobile">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">City</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="unit.address.city">
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Pincode</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="unit.address.pincode">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">State</label>
			</div>
			<div class="col-sm-4">
				<select ng-model="unit.address.state.stateId"
						class="form-control"
						ng-options="item.stateId*1 as item.stateName  for item in serverModelData.STATE">
					</select>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-6">
				<h3 class="new-event-subtitle">Equipment Details</h3>
			</div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-info btn-sm" ng-click="addMachine()">Add
					Machine</button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">type</label>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Model No</label>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Serial No</label>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Invoice No</label>
			</div>


			<div class="col-sm-2">
				<label for="inputlg">Warranty Under</label>
			</div>

			<div class="col-sm-2">
			
			</div>

		</div>

		<div class="row" ng-repeat="equip in unit.equipmentDetails">
			<div class="col-sm-2">
				<select class="form-control" ng-model="equip.type">
					<option></option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control" ng-model="equip.equipment.model">
					<option></option>
				</select>
			</div>
			<div class="col-sm-2">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="equip.serialNo">
			</div>
			<div class="col-sm-2">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="equip.invoiceNo">
			</div>
			<div class="col-sm-2">
				<select class="form-control" ng-model="equip.warrantyUnder">
					<option></option>
				</select>
			</div>
			<div class="col-sm-2"><img height="35" width="35" ng-src="../static/images/minus.png"
					ng-click="removeMachine($index)" ng-show="$index>0" /></div>
		</div>
	<div class="row">
		<div class="col-sm-3"></div>

		<div class="col-sm-3">
			<button type="button" class="btn btn-primary">Edit</button>
		</div>

		<div class="col-sm-3">
			<button type="button" class="btn btn-primary"
				ng-click="saveUnit()">Save Unit</button>
		</div>
		<div class="col-sm-3"></div>
	</div>


	</div>
	<div class="row">
		<div class="col-sm-10"></div>

		<div class="col-sm-2">
			<button type="button" class="btn btn-primary"
				ng-click="saveCustomer()">Save Customer</button>
		</div>

	</div>
</div>
</tab> <tab> <tab-heading>AMC History</tab-heading> </tab> <tab> <tab-heading>Complaint</tab-heading>
</tab> <tab> <tab-heading>PMS</tab-heading> </tab> <tab> <tab-heading>Call</tab-heading>
</tab> </tabset>