<div>
	<div class="row">
		<div class="col-sm-12">
			<h3 class="new-event-subtitle">BILLING ADDRESS</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-2">
			<label for="inputlg">Address</label>
		</div>
		<div class="col-sm-4">
			<textarea rows="3" cols="30" class="form-control input-sm"
				ng-model="customer.address.address" id="inputlg" required></textarea>
		</div>

		<div class="col-sm-2">
			<label for="inputlg">Contact No</label>
		</div>
		<div class="col-sm-4">
			<input class="form-control input-sm" required="required"
				ng-pattern="/^[0-9--]+$/" ng-model="customer.address.contactNo"
				id="inputlg" type="text">
		</div>
	</div>


	<div class="row">
		<div class="col-sm-2">
			<label for="inputlg">City</label>
		</div>
		<div class="col-sm-4">
			<input class="form-control input-sm" ng-pattern="/^[a-zA-Z]+$/i"
				ng-model="customer.address.city" id="inputlg" type="text" required>
		</div>

		<div class="col-sm-2">
			<label for="inputlg">Pincode</label>
		</div>
		<div class="col-sm-4">
			<input class="form-control input-sm"
				ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}$/"
				required="required" ng-model="customer.address.pincode" id="inputlg"
				type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<label for="inputlg">State</label>
		</div>
		<div class="col-sm-4">
			<select ng-model="customer.address.state.stateId"
				class="form-control"
				ng-options="item.stateId*1 as item.stateName  for item in serverModelData.STATE"
				required>
			</select>
		</div>
	</div>
</div>
