<div ng-init="getAllComplaints()">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Complaint Id</th>
				<th>Customer Name</th>
				<th>Unit Code</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="complaint in customerComplaints">
				<td><a herf="#"
					ng-click="redirectToComplaintScreen(complaint.complaintId)">{{complaint.complaintId}}
				</a></td>
				</td>
				<td>{{complaint.customerName}}</td>
				<td>{{complaint.unit.unitCode}}</td>
				<td>{{complaint.status}}</td>
				<!--         <td><a ui-sref="resetpassword"><button class="btn-primary">Reset Password</button></a></td> -->
			</tr>
		</tbody>
	</table>
</div>
