
<div>

<div class="row">
			<div class="col-sm-8">
			</div>
<div class="col-sm-2" ng-show="!isFromComplaintScreen"><a ui-sref="newcustomer"><button class="btn-primary"><i class="glyphicon glyphicon-plus"></i>Create Customer</button></a></div>
<div class="col-sm-2" ng-show="!isFromComplaintScreen"><a ui-sref="#"><button class="btn-primary">Advance Search</button></a></td></div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Code</th>
            <th>Customer Name</th>
            <th>Contact No</th>
            <th>Email Id</th>
            <th>No Of Units</th>
        </tr>
        
        <tr>
            <td><input class="form-control input-sm" ng-model="searchCriteria.customerCode"
				id="inputlg" type="text"></td>
            <td><input class="form-control input-sm" ng-model="searchCriteria.customerName"
				id="inputlg" type="text"></td>
            <td><input class="form-control input-sm" ng-model="searchCriteria.contactNo"
				id="inputlg" type="text"></td>
            <td><input class="form-control input-sm" ng-model="searchCriteria.emailId"
				id="inputlg" type="text"></td>
            <th><button class="btn-primary" ng-click="getCustomerByCriteria()">Search</button></a></th>
        </tr>
    </thead>
    <tbody>
     <tr ng-repeat="customer in customers">
        <td><a herf="#" ng-click="redirectToCustomerDtlScreen(customer.customerId)">{{customer.customerCode}} </a></td></td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.contactNo}}</td>
        <td>{{customer.emailId}}</td>
        <td><td>{{countUnit(customer)}}</td>
        </td>
<!--         <td><a ui-sref="resetpassword"><button class="btn-primary">Reset Password</button></a></td> -->
        </tr>
    </tbody>
</table>
</div>
