
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
	<section class="box ">
		<header class="panel_header">
			<h2 class=" pull-left"></h2>
			<div class="actions panel_actions pull-right">
				<i class="fa fa-filter" aria-hidden="true"
					ng-click="filterCustomer()">&nbspFilter</i>






			</div>
		</header>
		<div class="content-body">
			<div class="row"></div>
			<div class="row"></div>
			<div class="row">
				<div class="table-parent-container">
					<div>
						<table ng-table="tableParams"
							class="table table-condensed table-bordered table-striped">
							<tr ng-repeat="row in $data">
								<td data-title="'Customer Code'" sortable="'customerCode'"
									class="col-sm-2 col-md-2 col-lg-2">{{row.customerCode}}</td>
								<td data-title="'Customer Name'" sortable="'customerName'">{{row.customerName}}</td>
								<td data-title="'Contact No'" sortable="'contactNo'">{{row.contactNo}}</td>
								<td data-title="'Email Id'" sortable="'emailId'">{{row.emailId}}</td>
								<td data-title="'No Of Units'">{{countUnit(row)}}</td>

							</tr>
						</table>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>
