<div class="row">
			<div class="col-sm-4">
				<h3 class="new-event-subtitle">Equipment Details</h3>
			</div>
			<div class="col-sm-2 child-right">
				<button type="button" class="btn btn-primary btn-sm"
					ng-click="addMachine(unit)"
					ng-disabled="isCreateOrUpdatePrivileged() || isProcessing">Add Equipment</button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<label for="inputlg">Type</label>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Model No</label>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Serial No</label>
			</div>

			<div class="col-sm-2">
				<label for="inputlg">Invoice No</label>
			</div>


			<div class="col-sm-2">
				<label for="inputlg">Warranty Under</label>
			</div>
		</div>

		<div class="row" ng-repeat="equip in unit.equipmentDetails">
			<div class="col-sm-2">
				<select class="form-control" ng-model="equip.type">
					<option></option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control" ng-model="equip.equipment.model">
					<option></option>
				</select>
			</div>
			<div class="col-sm-2">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="equip.serialNo">
			</div>
			<div class="col-sm-2">
				<input class="form-control input-sm" id="inputlg" type="text"
					ng-model="equip.invoiceNo">
			</div>
			<div class="col-sm-2">
				<select class="form-control" ng-model="equip.warrantyUnder">
					<option></option>
				</select>
			</div>
			<div class="col-sm-1">
				<input type="checkbox" id="chk_act_{{$id}}"
					ng-model="equip.underWarranty" /> <label for="chk_act_{{$id}}">UW</label>
			</div>
			<div class="col-sm-1">
				<button type="button" class="btn btn-default btn-sm"
					ng-click="removeMachine(unit,$index)" ng-show="$index=>0">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>
