	<div ng-init="init(); toggleReadOnly('CUSTOMER')">
		<div ng show="alerts..length>0 || !$scope.CUSTOMER.$valid || !$scope.UNIT.$valid">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"
				close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
		<div>
			<h3 class="custom-page-header">CUSTOMER INFORMATION</h3>
		</div>
		<div>
			<div class="row">
				<div class="col-sm-2">
					<label for="inputlg">Customer Code</label>
				</div>
				<div class="col-sm-4">
					<input class="form-control input-sm"
						ng-model="customer.customerCode" id="inputlg" type="text" disabled>
				</div>

				<div class="col-sm-2">
					<label for="inputlg">Customer Name</label>
				</div>
				<div class="col-sm-4">
					<input class="form-control input-sm"
						ng-model="customer.customerName" required="required"
						ng-pattern="/^[a-zA-Z-z&-. ]+$/i" id="inputlg" type="text">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<label for="inputlg">Contact No</label>
				</div>
				<div class="col-sm-4">
					<input class="form-control input-sm" required="required"
						ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/"
						ng-model="customer.contactNo" id="inputlg" type="text"
						ng-click="resetAleart()">
				</div>

				<div class="col-sm-2">
					<label for="inputlg">Email Id</label>
				</div>
				<div class="col-sm-4">
					<input class="form-control input-sm" ng-model="customer.emailId"
						required="required"
						ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/i"
						id="inputlg" type="email" ng-click="resetAleart()">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label for="radiogroup">Customer Type</label>
				</div>
				<div class="col-sm-4">
					<select class="form-control" required="required"
						ng-model="customer.customerType">
						<option></option>
						<option>NAD</option>
						<option>VIP</option>
						<option>CORPORATE</option>
						<option>INDIVIDUAL</option>
					</select>
				</div>
			</div>
			<!-- </div> -->

			<!-- <div> -->
			<!--   <h3>Billing Address</h3> -->
			<!-- </div> -->
			<!-- <div class="jumbotron"> -->
			<div class="row">
				<div class="col-sm-12">
					<h3 class="new-event-subtitle"> <i class="glyphicon glyphicon-plus" ng-click="isCollapsed=!isCollapsed"></i> &nbsp BILLING ADDRESS</h3>
				</div>
			</div>
			<hr>
			<div collapse="isCollapsed">
			<div class="row">
				<div class="col-sm-2">
					<label for="inputlg">Address</label>
				</div>
				<div class="col-sm-4">
					<textarea rows="3" cols="30" class="form-control input-sm"
						ng-model="customer.address.address" id="inputlg" required></textarea>
				</div>

				<div class="col-sm-2">
					<label for="inputlg">Contact No</label>
				</div>
				<div class="col-sm-4">
					<input class="form-control input-sm" required="required"
						ng-pattern="/^[0-9--]+$/" ng-model="customer.address.contactNo"
						id="inputlg" type="text">
				</div>
			</div>


			<div class="row">
				<div class="col-sm-2">
					<label for="inputlg">City</label>
				</div>
				<div class="col-sm-4">
					<input class="form-control input-sm" ng-pattern="/^[a-zA-Z]+$/i"
						ng-model="customer.address.city" id="inputlg" type="text" required>
				</div>

				<div class="col-sm-2">
					<label for="inputlg">Pincode</label>
				</div>
				<div class="col-sm-4">
					<input class="form-control input-sm"
						ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}$/"
						required="required" ng-model="customer.address.pincode"
						id="inputlg" type="text">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<label for="inputlg">State</label>
				</div>
				<div class="col-sm-4">
					<select ng-model="customer.address.state.stateId"
						class="form-control"
						ng-options="item.stateId*1 as item.stateName  for item in serverModelData.STATE" required>
					</select>
				</div>
			</div>
</div>

			<div class="row">

				<div class="col-sm-8"></div>

				<div class="col-sm-1" ng-show="!isNew && isEdit">
					<button type="button" class="btn btn-primary"
						ng-click="toggleReadOnly('CUSTOMER')" ng-disabled= "isCreateOrUpdatePrivileged()">Edit</button>
				</div>
				<div class="col-sm-1" ng-show="!isNew && !isEdit">
					<button type="button" class="btn btn-primary"
						ng-click="toggleReadOnly('CUSTOMER')">Cancel</button>
				</div>
				<div class="col-sm-2 child-right" ng-show="isNew || isEdit">
					<button type="button" class="btn btn-primary"
						ng-click="saveAndUpdateCustomer()" ng-disabled= "isCreateOrUpdatePrivileged()">Save Customer</button>
				</div>
			</div>
			
		</div>
	</div>
