<div class="wrapper">

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h3>Please Provide Reason To Reject Approval</h3>
			</div>
		</div>
		<div class="row">

			<div class="col-sm-2"></div>

			<div class="col-sm-8">
				<textarea rows="4" cols="30" class="form-control input-sm"
					ng-model="customer.address.address" id="inputlg" required></textarea>
			</div>
			<div class="col-sm-2"></div>
		</div>

		<div class="row">
			<div class="col-sm-8"></div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-success button child-right" ng-click="">Save</button>
			</div>
			<div class="col-sm-8"></div>
		</div>
	</div>
