<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
	<section class="box ">
		<div class="content-body">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12 child-right"
					ng-disabled="unit.address.addressId">
					<div class="form-group">
						<input type="checkbox" ng-disabled="unit.address.addressId"
							ng-change="copyCustomerAddress(unit,sameAsAbove)"
							ng-model="sameAsAbove" /><label class="form-label">Same
							As Billing Address</label>
					</div>
				</div>


			</div>


			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Address</label>
						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unit.address.address" required>
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Alt. Contact No</label>
						<div class="controls">
							<input class="form-control" type="text" ng-pattern="/^[0-9--]+$/"
								ng-model="unit.address.contactNo" required>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">City</label>
						<div class="controls">
							<input class="form-control" type="text"
								ng-model="unit.address.city" ng-pattern="/^[a-zA-Z]+$/i"
								required>
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Pincode</label>
						<div class="controls">
							<input class="form-control" type="text"<input
								ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}$/"
								class="form-control input-sm" ng-model="unit.address.pincode"
								required>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">State</label>
						<div class="controls">
							<select ng-model="unit.address.state.stateId"
								class="form-control"
								ng-options="item.stateId*1 as item.stateName  for item in serverModelData.STATE"
								required>
							</select>
						</div>
					</div>
				</div>

			</div>
	</section>
</div>
