<section class="box ">
			<div class="content-body">


	<div class="row">
		<div class="col-sm-3">
			<label for="inputlg">Select Work Item Type</label>
		</div>
		<div class="col-sm-3">
			<select class="form-control" ng-model="workItemSearchCriteria.workType">
				<option>DRAFT AGREEMENT</option>
				<option>AGREEMENT APPROVAL</option>
				<option>RENEW SERVICE CALL</option>
			</select>
		</div>
		
		<div class="col-sm-3">
			<label for="inputlg">Select Work Item Status</label>
		</div>
		<div class="col-sm-3">
			<select class="form-control" ng-model="workItemSearchCriteria.status">
				<option>Open</option>
				<option>Close</option>
			</select>
		</div>
	</div>
	<hr>
	<div class="tab-separator">
		<tabset justified="true"> <tab heading="MY QUEUE">
		<div ng-include src="'../home/customer/myQueue.html'"></div>
		</tab> <tab heading="MY ROLE" ng-click="getWorkItemByUserIdAndWorkType()">
		<div ng-include src="'../home/customer/myRole.html'"></div>
		</tab> </tabset>
	</div>
</div>
</section>