<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
	ng-init="getCommentList()">
	<section class="box ">
		<header class="panel_header">
			<h2 class="title pull-left">COMMENTS</h2>
			<div class="actions panel_actions pull-right">
<!-- 				 popover-placement="left" -->
<!-- 					popover-trigger="mouseenter" popover="Post Comment" -->
				 
				 <i
					class="box_close material-icons"></i> <i class="fa fa-comment" style="font-size:22px;"
					ng-click="addComment()" title="Post Comment"></i> <i
					class="box_close material-icons"></i>
			</div>
		</header>
		<div class="content-body">

			<div class="row" ng-repeat="comment in workitem.comments">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group element-size">
							<label class="desc" for="formfield9">commented on
								{{comment.commentDateString}} by {{comment.createdBy}}</label>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group element-size">
							<span class="workitem-comment">{{comment.comment}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
