<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
	<section class="box ">
		<header class="panel_header">
			<h2 class="title pull-left">Unit</h2>
			<div class="actions panel_actions pull-right">
				<i class="box_toggle material-icons"></i> <i
					class="box_setting material-icons"></i> <i
					class="box_close material-icons"></i>
			</div>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Customer Name</label>
						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.customerName">
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Contact No</label>
						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.contactNo">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Customer Code</label>

						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.customerCode">
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Email Id</label>
						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.emailId">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Customer Type</label>

						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.customerType">
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Unit Code</label>

						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.unitCode">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Asset No</label>
						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.assetNo">
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label form-group" for="formfield9">Machine
							Serial No</label>

						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.machineSerialNo">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Model No</label>
						<div class="controls ">
							<input type="text" class="form-control"
								ng-model="unitInfo.modelNo">
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Unit Type</label>

						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.unitType">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Contract Start
							On</label>
						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.contractStartOn">
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Contract Expire
							On</label>

						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.contractExpiredOn">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Service
							Category</label>
						<div class="controls">
							<input type="text" class="form-control"
								ng-model="unitInfo.serviceCategory"> 
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Service
							Provider</label>

						<div class="controls">
						<input type="text" class="form-control"
								ng-model="unitInfo.serviceProvider">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="form-label" for="formfield9">Address</label>
						<div class="controls">
							<span class="form-control">{{unitInfo.address}}, &nbsp
								{{unitInfo.city}}, &nbsp{{unitInfo.state}},
								&nbsp{{unitInfo.pincode}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<button type="button" class="btn btn-primary child-right"
					ng-click="createComplaintByPms()" ng-show="workitem.workType=='PMS'">Create Job</button>
				<button type="button" class="btn btn-primary child-right"
					ng-click="redirectToUnit(unitInfo.unitId)" ng-show="workitem.workType=='AGREEMENT APPROVAL'">View and Approve</button>
					<button type="button" class="btn btn-primary child-right"
					ng-click="createWorkItemForSalesRenewal(unitInfo)" ng-show="workitem.workType=='FOLLOWUP RENEWAL SERVICE'">Create Lead</button>
					<button type="button" class="btn btn-primary child-right"
					ng-click="redirectToRenewSalesAgreement(unitInfo.unitId)" ng-show="workitem.workType=='SALES RENEWAL AGREEMENT'">View And Renew</button>
			</div>
		</div>
	</section>
</div>

